<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdbigdata.framework.permission.mapper.ResourceMapper">
	<resultMap id="BaseResultMap" type="com.xdbigdata.framework.permission.model.Resource">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="resource" property="resource" />
	</resultMap>

	<select id="createTable">
		create table if not exists `p_resource` (
			`id` bigint(20) not null auto_increment,
			`name` varchar(50) not null comment '资源名称',
			`resource` varchar(255) not null comment '资源地址(类名:方法名)',
			primary key (`id`)
		) engine=innodb default charset=utf8;
	</select>

	<insert id="insertList" parameterType="list">
		insert into p_resource (name, resource) values
		<foreach collection="list" item="s" separator=",">
			( #{s.name}, #{s.location} )
		</foreach>
	</insert>

	<select id="selectByUser" parameterType="string" resultMap="BaseResultMap">
		select distinct r.*
		from p_user_role ur
		left join p_role_resource rr on ur.role_id = rr.role_id
		right join p_resource r on rr.resource_id = r.id
		where ur.user = #{_parameter}
	</select>
</mapper>