<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdbigdata.framework.permission.mapper.RoleResourceMapper">
	<resultMap id="BaseResultMap" type="com.xdbigdata.framework.permission.model.RoleResource">
		<result column="role_id" property="roleId" />
		<result column="resource_id" property="resourceId" />
	</resultMap>

	<select id="createTable">
		create table if not exists `p_role_resource` (
			`role_id` bigint(20) not null comment '角色id',
			`resource_id` bigint(20) not null comment '资源id',
			primary key (`role_id`,`resource_id`)
		) engine=innodb default charset=utf8;
	</select>

	<insert id="insertList" parameterType="list">
		insert into p_role_resource (role_id, resource_id) values
		<foreach collection="list" item="rr" separator=",">
			( #{rr.roleId}, #{rr.resourceId} )
		</foreach>
	</insert>
</mapper>